<ion-view cache-view="false" view-title="发布到行业圈">
    <ion-content class="padding">
        <div class="list list-inset" style="margin: 10px 10px">
            <label class="item item-input">
                <textarea maxlength="200" placeholder="最多200字..." ng-model="feed.content" rows="10" cols="10">
                </textarea>
            </label>
            <div style="font-size: 10px; margin-top: 15px">
              最多上传9张图片
            </div>
        </div>
            <!--<div class="padding-bottom">-->
            <!--&lt;!&ndash;<div class="button button-calm md-position-re" id="input-circle"><input type="file" md-file-select="upload" md-dir='feed' name="file" id="file" accept="image/*"/>添加图片</div>&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="button button-calm md-position-re" md-upload-qiniu on-upload-win="updateImages">添加图片</div>&ndash;&gt;-->
            <!--</div>-->

        <div class="md-padding-none" >


            <img ng-repeat="image in feed.images" ng-src="{{image}}" alt="" width="90px" class="padding-right padding-top">
            <img md-upload-qiniu on-upload-win="updateImages" src="img/img-placeholder.png"  width="70px" height="70" style="margin-left: 8px">
            <!--<img src="img/img-placeholder.png" alt="" width="90px">-->
            <!--<img src="img/img-placeholder.png" alt="" width="90px">-->
            <!--<img src="img/img-placeholder.png" alt="" width="90px">-->
            <!--<img src="img/img-placeholder.png" alt="" width="90px">-->
        </div>
        <div style="padding-left: 8px; padding-right: 8px">
            <button ng-click="postFeed()" class="button button-block button-calm" >立即发布</button>
        </div>
        <div style="min-height: 40px"></div>




    </ion-content>
</ion-view>
